#{placeholder.define('title', 'Game ' + game.id)}
#{placeholder.define('subtitle', 'Online real-time/turn-based hybrid strategy board game')}

placeholder(define='script'):
    script
        $(document).ready(function() {
            var socket = io.connect('/rapascia' + window.location.pathname);
            
            var jade = require('jade');
            var playerRenderer = jade.compile('li.player(name=this.name)= this.name');

            socket.on('player-joined', function(player) {
                console.log(player.name + ' joined');
                $('.players').append(playerRenderer.call(player));
            });
            socket.on('player-left', function(player) {
                console.log(player.name + ' left');
                $('li.player[name=' + player.name + ']').remove();
            });
            socket.on('time-updated', function(millis) {
                $('.time').text(millis);
            });

            $('.btn[action]').click(function(event) {
                socket.emit($(this).attr('action'));
            });
            $(window).unload(function() {
            });
        });

section
    button.btn(action="start-game") Start Game
section
    h3 Server Time
    .time
section
    ul.players
        - each player in game.players
            li.player(name=player.name)= player.name
        