#{placeholder.define('title', 'Game ' + game.id)}
#{placeholder.define('subtitle', 'Online real-time/turn-based hybrid strategy board game')}

placeholder(define='script'):
    script
        head.ready(function() {
            var socket = io.connect('/rapascia' + window.location.pathname);
            window.gameClient = new Rapascia.GameClient(socket);

            $(window).unload(function() {
            });
        });

section.instructions
    ul
        li Left click \= Select
        li Right click on adjacent tile \= Move (Move into enemy tile to attack)
        li P \= Produce
        li D \= Defend
        li each player gets 3 energy per turn
        li each move costs 3 energy
section
    button.btn(action="start-game") Start Game
section
    h3 Server Time
    .time
section
    h3 Players
    ul.players
section
    ul.commands
.game
// canvas(data-processing-sources="/processing/game.pde")
