#{placeholder.define('title', 'Rapascia')}
#{placeholder.define('subtitle', 'Online real-time/turn-based hybrid strategy board game')}

placeholder(define='script'):
    script
        $(document).ready(function() {
            var socket = io.connect('/rapascia/');

            var jade = require('jade');
            var gameRenderer = jade.compile("li\\n" +
                                            "    a(href='/game/' + this.id)= 'Game ' + this.id");
            
            socket.on('redirect-to-game', function(gameid) {
                console.log(gameid);
                window.location = '/game/' + gameid;
            });
            socket.on('game-created', function(gameid) {
                $('.games').append(gameRenderer.call({ id: gameid }));
            });

            $('.btn[action]').click(function(event) {
                socket.emit($(this).attr('action'));
            });
        });

| Hello, Rapascia.
button.btn(action="create-game") Create Game
ul.games
    - each game in games
        li
            a(href='/game/' + game.id)= 'Game ' + game.id