#{placeholder.define('title', 'Rapascia')}
#{placeholder.define('subtitle', 'Online real-time/turn-based hybrid strategy board game')}
placeholder(define='script'):
    script
        alert('Hello, Rapascia');
| Hello, Rapascia.