.game .row {
  overflow: hidden;
}
.game .tile {
  border: solid 1px;
  float: left;
  height: 60px;
  padding: 6px;
  width: 60px;
}
.game .tile[player=red] {
  background-color: #e8c0c0;
  border-color: #e8c0c0;
}
.game .tile[player=green] {
  background-color: #c0e8c0;
  border-color: #c0e8c0;
}
.game .tile[player=blue] {
  background-color: #c0c0e8;
  border-color: #c0c0e8;
}
.game .tile[player=orange] {
  background-color: #e8e824;
  border-color: #e8e824;
}
.game .tile[player=magenta] {
  background-color: #e8c0e8;
  border-color: #e8c0e8;
}
.game .tile[player=cyan] {
  background-color: #c0e8e8;
  border-color: #c0e8e8;
}
.game .tile.selected {
  border-color: #ff0000;
}
.game .tile .unit {
  float: left;
  height: 8px;
  padding: 2px;
  width: 8px;
}
.game .tile .unit .unit-icon {
  background: #222;
  height: 6px;
  width: 6px;
}
.game .tile .unitnth-of-type(5n) {
  clear: left;
}
.game .tile .unit[selecting] .unit-icon {
  background: #f00;
}
.game .tile .unit[selected] .unit-icon {
  border: solid 1px #f00;
  height: 5px;
  width: 5px;
}
.game .tile .actions {
  clear: both;
  margin-top: 4px;
}
.game .tile .actions .action {
  background: #ccc;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  padding: 0 4px;
}
.game .tile .actions .action.defend {
  margin-left: 4px;
}
#move-options {
  background: #fefefe;
  border: solid 1px #222;
}
#move-options .header {
  background: #e8e8e8;
}
#move-options .units {
  height: 60px;
  padding: 6px;
  width: 60px;
}
#move-options .units .unit {
  float: left;
  height: 8px;
  padding: 2px;
  width: 8px;
}
#move-options .units .unit .unit-icon {
  background: #222;
  height: 6px;
  width: 6px;
}
#move-options .units .unitnth-of-type(5n) {
  clear: left;
}
#move-options .units .unitselected {
  background: #f00;
}
#move-options .footer {
  background: #e8e8e8;
}
