- each row in this.map().tiles()
    tr
        - each tile in row
            - if (tile.player())
                td.tile(player=tile.player().color())= tile.units().length
            - else
                td.tile
