- each row in this.map().tiles()
    .row
        - each tile in row
            .tile(tileid=tile.id(), player=tile.player() && tile.player().color(), class=[tile == this.selectedTile() ? 'selected' : ''])
                - each unit in tile.units()
                    .unit
