- each row in this.map().tiles()
    .row
        - each tile in row
            - if (tile.player())
                .tile(player=tile.player().color())
                    - each unit in tile.units()
                        .unit
            - else
                .tile= ' '
